</main>

<footer class="bg-secondary text-black text-center py-3">
    <p class="mb-0">&copy; ASM1_25 Perfume Store</p>
</footer>

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    footer {
        position: relative;
        background: lightgray;
        text-align: center;
        padding: 10px 0;
    }
</style>

</body>

</html>